
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增设备信息</title>
    <link rel="stylesheet" href="~/assets/css/fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/xenon-core.css">
    <link rel="stylesheet" href="~/assets/css/xenon-forms.css">

    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
</head>
<body class="page-body">


    <div class="page-container">


        <div class="main-content">
            <div class="page-title">

                <div class="title-env">
                    <h1 class="title">实验记录信息</h1>

                </div>
                <a style="float: right;" href="/Equipment/Equipmentinformation" class="btn btn-gray btn-icon"><span style="color:#000">返回</span><i class="fa-reply-all"></i></a>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">填写基本信息</h3>

                        </div>
                        <div class="tab-content">

                            <!-- Tabs Content -->
                            <div class="tab-pane active" id="tab1">
                                <form role="form" class="form-horizontal">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="field-1">设备编号</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                            <label class="col-sm-2 control-label" for="field-1">设备名称</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            

                                            <label class="col-sm-2 control-label" for="field-1">启用日期</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>

                                            <label class="col-sm-2 control-label" for="field-1">价格</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            

                                            <label class="col-sm-2 control-label" for="field-1">设备状况</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="s2example-1">
                                                    <option>请选择</option>
                                                    <option>优</option>
                                                    <option>良好</option>
                                                    <option>损坏</option>
                                                    <option>维修</option>
                                                    <option>停用</option>
                                                </select>
                                            </div>
                                            <label class="col-sm-2 control-label" for="field-1">设备分类</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="s2example-1">
                                                    <option>请选择</option>
                                                    <option>力学</option>
                                                    <option>电学</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="field-1">设备位置</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                            <label class="col-sm-2 control-label" for="tagsinput-1">实验室名称</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                          
                                        </div>

                                        <div class="form-group">
                                          
                                            <label class="col-sm-2 control-label" for="field-1">经费来源</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="s2example-1">
                                                    <option>请选择</option>
                                                    <option>上级下拨</option>
                                                    <option>自筹</option>
                                                </select>
                                            </div>
                                        </div>
                                      


                                    </div>
                                
                                </form>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">其他信息</h3>

                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label" for="about">设备简介</label>
                                <textarea class="form-control autogrow" name="about" id="about" data-validate="minlength[10]" rows="5" placeholder="请输入设备简介信息" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="about">备注</label>
                                <textarea class="form-control autogrow" name="about" id="about" data-validate="minlength[10]" rows="5" placeholder="请输入备注信息" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Imported styles on this page -->

    <link rel="stylesheet" href="~/assets/js/multiselect/css/multi-select.css">

    <!-- Bottom Scripts -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/joinable.js"></script>
    <script src="~/assets/js/multiselect/js/jquery.multi-select.js"></script>
</body>
</html>
