
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>upload</title>
    <!-- CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/animate.min.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/control/css/zyUpload.css" rel="stylesheet" />
    <link href="~/assets/css/form.css" rel="stylesheet">
    <link href="~/assets/css/calendar.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="~/assets/css/generics.css" rel="stylesheet">

   

</head>
<body>
 
    <section id="content" class="container">


        <article class="row block-area">
            <h1 class="block-title" style="text-align:center;">上传功能示例</h1>
            <div id="demo" class="demo"></div>
        </article>
    </section>

    <!-- Javascript Libraries -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery.min.js"></script> <!-- jQuery Library -->
    <!-- Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- UX -->
    <script src="~/assets/js/scroll.min.js"></script> <!-- Custom Scrollbar -->
    <!-- Other -->
    <script src="~/assets/js/calendar.min.js"></script> <!-- Calendar -->
    <script src="~/assets/js/feeds.min.js"></script> <!-- News Feeds -->
    <!-- All JS functions -->
    <script src="~/assets/js/functions.js"></script>
    <script src="~/control/js/demo.js"></script>
    <script src="~/control/js/zyFile.js"></script>
    <script src="~/control/js/zyUpload.js"></script>

</body>
</html>
