
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>zhexian2</title>
    <style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto;
        }

        .highcharts-credits {
            display: none;
        }
    </style>
</head>
<body style="height:500px">
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Highcharts/js/highcharts.js"></script>

    <script src="~/Highcharts/js/exporting.js"></script>
    <script src="~/Highcharts/js/highcharts-zh_CN.js"></script>

    <div id="container"></div>

    <script type="text/javascript">
        var arr2 = [];
        function getData(n) {
            var arr = [],
               
                i,
                a,
                b,
                c,
                spike;
            for (i = 0; i < n; i = i + 1) {
                if (i % 100 === 0) {
                    a = 2 * Math.random();
                }
                if (i % 1000 === 0) {
                    b = 2 * Math.random();
                }
                if (i % 10000 === 0) {
                    c = 2 * Math.random();
                }
                if (i % 50000 === 0) {
                    spike = 10;
                } else {
                    spike = 0;
                }
              
                arr.push([
                    i,
                    2 * Math.sin(i / 100) + a + b + c + spike + Math.random()
                ]);
            }
            return arr;
        }
        $(function () {
            var n = 1000,
            data = getData(n);
            console.time('line');
            Highcharts.chart('container', {
                chart: {
                  
                    zoomType: 'x'
                },
                //mapNavigation: {
                //    enabled:true,
                //    enableMouseWheelZoom:true
                //},
                boost: {
                    useGPUTranslations: true
                },
                title: {
                    text: 'Highcharts drawing ' + n + ' points'
                },
                subtitle: {
                    text: 'Using the Boost module'
                },
                tooltip: {
                    crosshairs: true,
                    shared: true,
                    valueDecimals: 2
                },
                series: [{
                    data: data,
                    lineWidth: 0.6
                },
                {
                    data: [[75, 53], [400, 63]]
                    , lineWidth: 2
                },
                {

                    data: [
                        [30, 53],
                        [75, 53],
                        [400, 63],
                        [1000,63],

                    ], lineWidth: 2
                }]
            });
            console.timeEnd('line');

        });


    </script>
</body>
</html>
