
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home2</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- basic styles -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->

    <link rel="stylesheet" href="~/Content/css/fullcalendar.css" />

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- ace styles -->

    <link rel="stylesheet" href="~/Content/css/ace.min.css" />
   
    <link rel="stylesheet" href="~/Content/css/ace-skins.min.css" />

    <script src="~/Content/js/ace-extra.min.js"></script>
</head>
<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
  

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">

     

        <!-- /section:basics/sidebar -->
        <div class="main-content">
          

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                <!-- /section:settings.box -->
                <div class="page-content-area">
                    <div class="row">
                        <h1>日程安排</h1>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="space"></div>

                                    <div id="calendar"></div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="widget-box transparent">
                                        <div class="widget-header">
                                            <h4>自定义可拖拽事件</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <div id="external-events">
                                                    <div class="external-event label-grey" data-class="label-grey">
                                                        <i class="icon-move"></i>
                                                        自定义可拖拽事件 1
                                                    </div>

                                                    <div class="external-event label-success" data-class="label-success">
                                                        <i class="icon-move"></i>
                                                        自定义可拖拽事件 2
                                                    </div>

                                                    <div class="external-event label-danger" data-class="label-danger">
                                                        <i class="icon-move"></i>
                                                        自定义可拖拽事件 3
                                                    </div>

                                                    <div class="external-event label-purple" data-class="label-purple">
                                                        <i class="icon-move"></i>
                                                        自定义可拖拽事件 4
                                                    </div>

                                                    <div class="external-event label-yellow" data-class="label-yellow">
                                                        <i class="icon-move"></i>
                                                        自定义可拖拽事件 5
                                                    </div>

                                                    <div class="external-event label-pink" data-class="label-pink">
                                                        <i class="icon-move"></i>
                                                        自定义可拖拽事件 6
                                                    </div>

                                                    <div class="external-event label-info" data-class="label-info">
                                                        <i class="icon-move"></i>
                                                        自定义可拖拽事件 7
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->



        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <script src="~/assets/js/jquery-1.11.1.min.js"></script>

    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->

    <script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/js/fullcalendar.min.js"></script>
    <script src="~/Content/js/bootbox.min.js"></script>

    <!-- ace scripts -->

    <script src="~/Content/js/ace-elements.min.js"></script>


    <!-- inline scripts related to this page -->

    <script type="text/javascript">
			jQuery(function($) {

/* 初始化外部事件
	-----------------------------------------------------------------*/

	$('#external-events div.external-event').each(function() {

	    // 创建事件对象 (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
	    // 它不需要有一个开始或结束
		var eventObject = {
		    title: $.trim($(this).text()) //将元素的文本用作事件标题
		};

	    // 将事件对象存储在 DOM 元素中, 以便以后可以找到它
		$(this).data('eventObject', eventObject);

	    // 使用 jQuery UI 使事件拖动
		$(this).draggable({
			zIndex: 999,
			revert: true,      // 将导致事件在拖动后返回到其原始位置
			revertDuration: 0  //  original position after the drag
		});

	});
                 

   /* 初始化日历
	-----------------------------------------------------------------*/

	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();


	/*
        标题(title)   开始时间   结束时间  颜色
                
    */

    //日历信息

	var dataTimeStr = Array();
	$.ajax({
	    url: '/Main/CalendarArrangement',  //链接
	    type: 'POST',
	    async: false,     //或false,是否异步
	    timeout: 500,
	    dataType: 'json',
	    data: {   //传递参数
	       // PageSize: 8,
	       // CurPage: Cur,
	    },
	    success: function (data) {   //成功执行的方法
	        var DTimeStr = "";
	        for (i = 0; i < data.length; i++) {
	            var endStr = "";
	            if (data[i].EndTime == "") {
	                endStr =false ;
	            }else {
	                endStr = new Date(data[i].EndTime)
	            }
	          

	            DTimeStr = {
	                id: data[i].CalendarArrangement_id,
	                title:data[i].CalendarArrangement_title,
	                start: new Date(data[i].StartTime),
	                end: endStr,
	                className: data[i].Colorclass
	            }
	            dataTimeStr.push(DTimeStr);
	        }
	    },
	    error: function (XMLHttpRequest, textStatus, errorThrown) {
	        // ajax提交失败的处理函数！
	    }

	});
	var calendar = $('#calendar').fullCalendar({
		 buttonText: {
			prev: '<i class="icon-chevron-left"></i>',
			next: '<i class="icon-chevron-right"></i>'
		},

		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		events: dataTimeStr,
		
		editable: true,// 这允许改变事情的日期!!!(就是拖动到其他地方)
		droppable: true, // 这允许将事情拖到日历上!!!
		drop: function (date, allDay) { // 当某个东西被丢弃时调用这个函数
		    // 检索丢弃的元素的存储事件对象
			var originalEventObject = $(this).data('eventObject');
			var $extraEventClass = $(this).attr('data-class');


		    // 我们需要复制它, 以便多个事件没有对同一对象的引用
			var copiedEventObject = $.extend({}, originalEventObject);

		    // 将报告的日期分配给它
			copiedEventObject.start = date;
			copiedEventObject.allDay = allDay;
			if ($extraEventClass) copiedEventObject['className'] = [$extraEventClass];

			var dataValue = new Date(date.getTime())//时间减一天
			var dataValue2 = dataValue.getFullYear() + '/' + (dataValue.getMonth() + 1) + '/' + dataValue.getDate();//年份的最后一天

			$.ajax({
			    url: '/Main/SaveCalendar',  //链接
			    type: 'POST',
			    async: false,     //或false, 
			    dataType: 'json',
			    data: {   //传递参数
			        title:originalEventObject.title,
			        start: dataValue2,
			        //end: null,
			        className: $extraEventClass,
			    },
			    success: function (data) {   //成功执行的方法
			        copiedEventObject.id = data;
			    },
			    error: function (XMLHttpRequest, textStatus, errorThrown) {
			        // ajax提交失败的处理函数！
			    }

			});


		    // 在日历上呈现事件

			// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
			$('#calendar').fullCalendar('renderEvent', copiedEventObject, true); //最后一个 "true" 参数确定事件是否 "粘"
		    //是否选中 "除去后删除" 复选框？
			if ($('#drop-remove').is(':checked')) {
			    // 如果是, 请从 "拖动事件" 列表中删除该元素
			    $(this).remove();
			    alert("df");
			}

		},eventDrop:function(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view ) {//拖动事件触发

		    var endTime = new Date(event.start);
		    var ETValue = endTime.getFullYear() + '/' + (endTime.getMonth() + 1) + '/' + endTime.getDate();

		    var startTime = new Date(event.end);
		    var STValue = startTime.getFullYear() + '/' + (startTime.getMonth() + 1) + '/' + startTime.getDate();

		    $.ajax({
		        url: '/Main/UpdataSaveCalendarTow',  //链接
		        type: 'POST',
		        async: false,//或false, 
		        dataType: 'json',
		        data: {   //传递参数
		            CalendarArrangement_id: event.id,
		            start: ETValue,
		            end: STValue,
		        },
		        success: function (data) { },
		        error: function (XMLHttpRequest, textStatus, errorThrown) {
		            // ajax提交失败的处理函数！
		        }

		    });

		}
        //, eventResizeStart: function (event, dayDelta, jsEvent, ui, view) {//改变长度 之前事件
		//    console.log("拖动11");

		//}, eventResizeStop: function (event, dayDelta, jsEvent, ui, view) {//改变长度 之后事件
		//    alert("拖动12");

		//}
        , eventResize: function (event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {////改变长度 之后事件
            var startTime = new Date(event.end)//时间减一天
            var STValue = startTime.getFullYear() + '/' + (startTime.getMonth() + 1) + '/' + startTime.getDate();
            $.ajax({
                url: '/Main/UpdataSaveCalendarOne',  //链接
                type: 'POST',
                async: false,     //或false, 
                dataType: 'json',
                data: {   //传递参数
                    CalendarArrangement_id: event.id,
                    end: STValue,
                },
                success: function (data) {},
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    // ajax提交失败的处理函数！
                }

            });

		},
		selectable: true,
		selectHelper: true,
		select: function(start, end, allDay) {

			bootbox.prompt("新标题:", function(title) {
				if (title !== null) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},
						true // make the event "stick"
					);
				}
			});


			calendar.fullCalendar('unselect');

		}
		,
		eventClick: function (calEvent, jsEvent, view) {

			var form = $("<form class='form-inline'><label>更改名字&nbsp;</label></form>");
			form.append("<input class='middle' autocomplete=off type=text title='" + calEvent.id + "' value='" + calEvent.title + "' /> ");
			form.append("<button type='submit' class='btn btn-sm btn-success'><i class='icon-ok'></i> 保存</button>");
			var QX = 0;
			var div = bootbox.dialog({
				message: form,

				buttons: {
					"delete" : {
						"label" : "<i class='icon-trash'></i> 删除",
						"className" : "btn-sm btn-danger",
						"callback": function() {
						    calendar.fullCalendar('removeEvents', function (ev) {
						       
						        if (QX > 0) { } else {
						            QX = 1;
						            $.ajax({
						                url: '/Main/DelectSaveCalendar',  //链接
						                type: 'POST',
						                async: false,     //或false, 
						                dataType: 'json',
						                data: {   //传递参数
						                    CalendarArrangement_id: calEvent.id,
						                },
						                success: function (data) { },
						                error: function (XMLHttpRequest, textStatus, errorThrown) {
						                    // ajax提交失败的处理函数！
						                }

						            });
						        }
						       
							    return (ev._id == calEvent._id);
							})
						}
					} ,
					"close" : {
						"label" : "<i class='icon-remove'></i> 关闭",
						"className" : "btn-sm"
					}
				}

			});

			form.on('submit', function () {

			    $.ajax({
			        url: '/Main/UpdataTitle',  //链接
			        type: 'POST',
			        async: false,     //或false, 
			        dataType: 'json',
			        data: {   //传递参数
			            CalendarArrangement_id: form[0][0].title,
			            title: form.find("input[type=text]").val(),
			        },
			        success: function (data) { },
			        error: function (XMLHttpRequest, textStatus, errorThrown) {
			            // ajax提交失败的处理函数！
			        }

			    });

				calEvent.title = form.find("input[type=text]").val();
				calendar.fullCalendar('updateEvent', calEvent);
				div.modal("hide");
				return false;
			});

		}

	});


})
    </script>

</body>
</html>
