
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加实验记录</title>
    <link rel="stylesheet" href="~/assets/css/fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/xenon-core.css">
    <link rel="stylesheet" href="~/assets/css/xenon-forms.css">

    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
</head>
<body class="page-body">


    <div class="page-container">


        <div class="main-content">
            <div class="page-title">

                <div class="title-env">
                    <h1 class="title">实验记录信息</h1>

                </div>
                <a style="float: right;" href="/Experiment/InformationRecord" class="btn btn-gray btn-icon"><span style="color:#000">返回</span><i class="fa-reply-all"></i></a>
            </div>
     
            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">填写基本信息</h3>

                        </div>
                        <div class="tab-content">

                            <!-- Tabs Content -->
                            <div class="tab-pane active" id="tab1">
                                <form role="form" class="form-horizontal">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="field-1">时间</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="field-1">委托单号</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>

                                            <label class="col-sm-2 control-label" for="field-1">实验项目</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                           
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="field-1">送样人</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>

                                            <label class="col-sm-2 control-label" for="field-1">手机号码</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="field-1">送样单位</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>

                                            <label class="col-sm-2 control-label" for="field-1">样车类型</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="tagsinput-1">检验类型</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                            <label class="col-sm-2 control-label" for="field-1">VIN最后四位</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="field-1">
                                            </div>
                                        </div>

                                    


                                    </div>
                                </form>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Imported styles on this page -->

    <link rel="stylesheet" href="~/assets/js/multiselect/css/multi-select.css">

    <!-- Bottom Scripts -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/joinable.js"></script>
    <script src="~/assets/js/multiselect/js/jquery.multi-select.js"></script>
</body>
</html>
